<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
      <title> Calculadora </title>
  </head>
  <body>
    <h3>
      <P ALIGN=CENTER> CALCULADORA </P> </br>
    </h3>
    <form method="GET" action="suma">
      <h2>
        <P ALIGN=CENTER> <input type="submit" value="suma" id="operacion"/> </P>
      </h2>
    </form>
    <form method="GET" action="resta">
      <h2>
        <P ALIGN=CENTER> <input type="submit" value="resta" id="operacion"/> </P>
      </h2>
    </form>
    <form method="GET" action="promedio">
      <h2>
        <P ALIGN=CENTER> <input type="submit" value="promedio" id="operacion"/> </P>
      </h2>
    </form>
    <form method="GET" action="multiplicacion">
      <h2>
        <P ALIGN=CENTER> <input type="submit" value="multiplicacion" id="operacion"/> </P>
      </h2>
    </form>
    <form method="GET" action="division">
      <h2>
        <P ALIGN=CENTER> <input type="submit" value="division" id="operacion"/> </P>
      </h2>
    </form>
    
  </body>
</html>