<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
      <title> Calculadora </title>
  </head>
  <body>
    <h3>
      <P ALIGN=CENTER> CALCULADORA </P> </br>
    </h3>
    <form method="GET" action="sumar">
      <h2>
        <P ALIGN=CENTER> <input type="submit" value="sumar" id="operacion"/> </P>
      </h2>
    </form>
    <form method="GET" action="restar">
      <h2>
        <P ALIGN=CENTER> <input type="submit" value="restar" id="operacion"/> </P>
      </h2>
    </form>
    <form method="GET" action="promedio">
      <h2>
        <P ALIGN=CENTER> <input type="submit" value="promedio" id="operacion"/> </P>
      </h2>
    </form>
    <form method="GET" action="multiplicar">
      <h2>
        <P ALIGN=CENTER> <input type="submit" value="multiplicar" id="operacion"/> </P>
      </h2>
    </form>
    <form method="GET" action="dividir">
      <h2>
        <P ALIGN=CENTER> <input type="submit" value="dividir" id="operacion"/> </P>
      </h2>
    </form>
    
  </body>
</html>